{% extends "layout.html" %} {% block title %}Галлерея{% endblock %} {% block body %}
<h3>Галерея</h3>
<div class="row">
    {% for project in this.children %} {% set image = project.attachments.images.first() %} {% if image %}
    <div class="col-xs-6 col-sm-4">
        <h4><a href="{{ project|url }}">{{ project.name }}</a></h4>
        <a href="{{ project|url }}"><img src="{{ image.thumbnail(280)|url }}" class="img-responsive" alt="">   </a>
    </div>
    {% endif %} {% endfor %}
</div>
{% endblock %}
